---
import "../styles/pages/_destination.scss";

import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Tabs from "../components/Tabs.astro";

// Images 
import moon from "../assets/destination/image-moon.webp";
import mars from "../assets/destination/image-mars.webp";
import europa from "../assets/destination/image-europa.webp";
import titan from "../assets/destination/image-titan.webp";
// variables
  const destinations = [
    {
      tabLabel: "Moon",
      title: "Moon",
      description: "See our planet as you’ve never seen it before. A perfect relaxing trip away to help regain perspective and come back refreshed. While you’re there, take in some history by visiting the Luna 2 and Apollo 11 landing sites.",
      distance: "384,400 km",
      travel: "3 days"
    },
    {
      tabLabel: "Mars",
      title: "Mars",
      description: "Don’t forget to pack your hiking boots. You’ll need them to tackle Olympus Mons, the tallest planetary mountain in our solar system. It’s two and a half times the size of Everest!",
      distance: "225 mil. km",
      travel: "9 months"
    },
    {
      tabLabel: "Europa",
      title: "Europa",
      description: "The smallest of the four Galilean moons orbiting Jupiter, Europa is a winter lover’s dream. With an icy surface, it’s perfect for a bit of ice skating, curling, hockey, or simple relaxation in your snug wintery cabin.",
      distance: "628 mil. km",
      travel: "3 years"
    },
    {
      tabLabel: "Titan",
      title: "Titan",
      description: "The only moon known to have a dense atmosphere other than Earth, Titan is a home away from home (just a few hundred degrees colder!). As a bonus, you get striking views of the Rings of Saturn.",
      distance: "1.6 bil. km",
      travel: "7 years"
    }
  ]

---

<Layout title="Space tourism | destination" >
	<body>
		<Header currentPage={1}/>
		<main class="container hero-destination">
			<p class="uppercase ff-sans-cond fs-5 hero-title"> <span class="fw-bold"> 01 </span> pick your Destination</p>
      <div class="wrapper-content-image">
        <img class="planet-img" src={moon.src} alt="img of the moon" class="img-destination">
        <img class="planet-img sr-only" loading="lazy" decoding="async" src={mars.src} alt="img of mars" class="img-destination">
        <img class="planet-img sr-only" loading="lazy" decoding="async" src={europa.src} alt="img of europa" class="img-destination">
        <img class="planet-img sr-only" loading="lazy" decoding="async" src={titan.src} alt="img of titan" class="img-destination">
        <Tabs name="destinations" articles={destinations} />

      </div>
		</main>
	</body>
</Layout>

<style></style>
<script></script>
