---
import Crew from "../pages/crew.astro";
import "../styles/components/_pagination-dots.scss";

interface Props {
  name: string,
  crew:Crew[]
}

interface Crew {
  name: string,
  image: ImageMetadata,
  role: string,
  bio: string
}

const { name, crew } = Astro.props;
---

<!-- Pagination Dots -->
    <div class="wrapper-pagination-crew">
      <div class="">
        <section class="content">
          {
            crew.map(({role, name, bio}, idx) => (
              <article hidden={idx !== 0}>
                <p class="fs-4 ff-serif uppercase  text-white-soft">{role}</p>
                <p class="fs-3 ff-serif uppercase mt-0">{name}</p>
                <p class="fs-9 text-accent">{bio}</p>
              </article>
            ))
          }
        </section>
        <section class="pages flex">
          {
            crew.map((_, idx) => (
            <div class="page">
              <input id={`page-${idx}`} type="radio" name={name} checked={idx === 0} />
              <label for={`page-${idx}`} class="fs-8"></label>
            </div>
            ))
          }
        </section>
      </div>
      {
        crew.map(({role, name, image}, idx) => (
          <img src={image.src} alt={`picture of ${role} - ${name}`} class={`img-crew ${idx === 0 ? "" : "sr-only"}`}>
        ))
      }
    </div>

    <script>
      const pages = document.querySelectorAll(".page");
      const content = document.querySelectorAll(".content article");
      const images = document.querySelectorAll(".img-crew");
      
      pages.forEach((page, idx) => {
        page.addEventListener("click", () => {
          content.forEach((c) => {
            const isHidden = c.hasAttribute("hidden");
            if (!isHidden) c.toggleAttribute("hidden");
          });
          content[idx].removeAttribute("hidden");

          images.forEach((img) => {
            const isHidden = img.classList.contains("sr-only");
            if (!isHidden) img.classList.add("sr-only");
          });
          images[idx].classList.remove("sr-only");

        });
      });
      
    </script>

<style></style>