---
import "../styles/components/_pagination-numbers.scss";

interface Props {
  name: string,
  technology: Technology[]
}

interface Technology {
  name: string,
  images: {
    portrait: ImageMetadata,
    landscape: ImageMetadata
  },
  description: string
}

const { name, technology } = Astro.props;
---

<!-- Pagination Dots -->
  <div class="wrapper-pagination-tech">
    <div class="wrapper-imgs">

      {
        technology.map(({images, name}, idx) => (
          <img src={images.portrait.src} alt={name} class={`img-tech-portrait ${idx === 0 ? "" : "sr-only"}`}>
          <img src={images.landscape.src} alt={name} class={`img-tech-landscape ${idx === 0 ? "" : "sr-only"}`}>
        ))
      }

    </div>
    <div class="wrapper">
      <section class=" flex pages">
        {
          technology.map((_, idx) => (
          <div class="pageNum">
            <input id={`pageNum-${idx}`} type="radio" name={name} checked={idx === 0} />
            <label for={`pageNum-${idx}`} class="fs-8 ff-serif">{idx+1}</label>
          </div>
          ))
        }
      </section>
      <section class="contentNum">
        {
          technology.map(({name,description}, idx) => (
            <article hidden={idx !== 0}>
              <p class="fs-4 ff-serif uppercase  text-white-soft"> the terminology... </p>
              <p class="fs-3 ff-serif uppercase mt-0">{name}</p>
              <p class="fs-9 text-accent ">{description}</p>
            </article>
          ))
        }
      </section>
    </div>
  </div>

    <script>
      
      const imgsPortrait = document.querySelectorAll(".img-tech-portrait");
      const imgsLandscape = document.querySelectorAll(".img-tech-landscape");
      const imgs = document.querySelectorAll(".wrapper-imgs img");
      const pages = document.querySelectorAll(".pageNum");
      const content = document.querySelectorAll(".contentNum article");
      console.log(imgs);

      pages.forEach((page, idx) => {
        page.addEventListener("click", () => {
          content.forEach((c) => {
            const isHidden = c.hasAttribute("hidden");
            if (!isHidden) c.toggleAttribute("hidden");
          });
          content[idx].removeAttribute("hidden");

          imgs.forEach((img) => {
            const isHidden = img.classList.contains("sr-only");
            if (!isHidden) img.classList.toggle("sr-only");
          });

          imgsPortrait[idx].classList.remove("sr-only");
          imgsLandscape[idx].classList.remove("sr-only");

        });
      });
      
    </script>
  
<style></style>