---
import "../styles/components/_tabs.scss";

interface Props {
  name?: string;
  articles: Article[];
}

interface Article {
  tabLabel: string;
  title: string;
  description: string;
  distance: string;
  travel: string;
  images: {
    png: string,
    webp: string
  }
}

const { articles, name = "tabs" } = Astro.props;
---

<!-- Tabs -->

    <div class="wrapper">
      <section class="tabs flex">
        {
          articles.map(({tabLabel, title}, i) => (<section class="tab">
            <input id={tabLabel} type="radio" name=name checked={i === 0} />
            <label for={tabLabel} class="tab__title fs-8 uppercase"> {tabLabel} </label>
          </section>))
        }
      </section>

      <section class="content">
        
        {
        articles.map(({title,description,distance,travel}, i) => (
        <article>
          <h2 class="uppercase"> {title} </h2>
          <p>
            {description}
          </p>
          <hr>
          <div class="extra-info">
            <div>
              <h3 class="uppercase"> avg. distance</h3>	
              <p>
                {distance}
              </p>
            </div>
            <div>
              <h3 class="uppercase"> est. travel time</h3>	
              <p>
                {travel}
              </p>
            </div>

          </div>
        </article>))
        }
      </section>
    </div>

    <script>
      const images = ["src/assets/destination/image-moon.webp",
"src/assets/destination/image-mars.webp",
"src/assets/destination/image-europa.webp",
"src/assets/destination/image-titan.webp"]
	    const img = document.querySelector('.img-destination');
      const tabs = document.querySelectorAll(".tab");
      const content = document.querySelectorAll(".content article");

      tabs.forEach((tab, idx) => {
        tab.addEventListener("click", () => {
          content.forEach((c) => {
            const isHidden = c.hasAttribute("hidden");
            if (!isHidden) c.toggleAttribute("hidden");
          });
          content[idx].removeAttribute("hidden");
          img!.src = images[idx];
        });
      });

    </script>
  
<style></style>